@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

/* ------------------------------------------------------------ */
/* styles/global.css */

html {
  -webkit-print-color-adjust: exact;
  /* This makes sure that the PDF is rendered exactly like our layout. */
}

@page {
  size: A4;
  margin: 40px 20px;

}


/* Important to keep absolute as you don't want this to be rendered by the PDF. */
.downloadBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  word-wrap: break-word;
  height: 100%;
}





